.cmp-navigation {}
.cmp-navigation__group {}
.cmp-navigation__item {}
.cmp-navigation__item--active {}
// .cmp-navigation__item--level-0 {}
.cmp-navigation__item-link {}

#topnav--list .cmp-navigation__item--level-0 > .cmp-navigation__item-link {
	position: absolute;
	top: 24px;
	left: 35px;
	width: 230px;
	height: 35px;
	background: transparent url('../resources/images/Logo.png') 0% 0% no-repeat padding-box;
	background-size: cover;
	opacity: 1;
	text-decoration: none;
	font-size:0;
}

#topnav--list .cmp-navigation__item--level-0 ul {
	top: 35px;
    left: 471px;
    position: absolute;
	width: 340px;
	height: 15px;
	font: $font-style-normal normal $font-weight-bold 12px/15px $font-family-montserrat;
	color: $color-ffffff;
	text-align: center;
	letter-spacing: 2.4px;
	opacity: 1;
	text-transform: uppercase;
	text-decoration: none;
}
