//== Base

html,
body {
	font-family: $font-family-montserrat;
	font-style: $font-style-normal;
	font-weight: $font-weight-normal;
	font-size: $font-size-16;
	line-height: $line-spacing-26;
	letter-spacing: $character-spacing-0;
	color: $color-ffffff;
	background: $color-0e0f13 0% 0% no-repeat padding-box;
	opacity: 1;
	width: 1280px;

    @media (prefers-color-scheme: dark) {
        color:       $color-foreground-dark;
        background:  $color-background-dark;
    }
}


a {
    color: $color-link;

    @media (prefers-color-scheme: dark) {
        color: $color-link-dark;
    }
}

button,
input,
optgroup,
select,
textarea {
    font: inherit;
}
